.popUpContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(0.6);
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}

.diaolgBlock {
  /* width: 100%; */
  /* height: 100%; */
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  color: black;
  max-width: 430px;

  /* padding: calc($space * 8) calc($space * 8) calc($space * 0) calc($space * 8);
    border-radius: calc($radius * 1.5) calc($radius * 1.5) calc($radius * 0)
      calc($radius * 0); */
}

.ContactusTypeName {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  margin-top: 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #0461fe;
  padding: 10px 20px;
  font-weight: 600;
}

.input1 {
  width: 300px;
  height: 40px;
  font-weight: 500;
  padding-left: 10px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: black;
  font-size: 14px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
.CallingName {
  font-size: 14px;
  font-weight: 500;
}
.ringing {
  font-size: 12px;
  font-weight: 400;
  color: #05050578;
}

.CallControlls {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: flex-end;
}

.CallEnd {
  width: 163px;
  height: 56px;
  border-radius: 38px;
  background: #f4012d;
  font-size: 16px;
  font-weight: 600;
}
