.homeArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoArea {
  margin: 25px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

.details {
  width: 350px;
  height: 161px;
  background-color: #ffffff;
  margin: 1.5rem;
  border-radius: 12px;
  color: black;
  display: flex;
  /* justify-content: space-around; */
}

.VehicleDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
}

.VehicleDetails2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
  margin-left: 50px;
}

.NameandDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.NameView {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.32px;
  text-align: left;
  opacity: 0.5;
}

.DetailsView {
  font-size: 14px;
  font-weight: 510;
  line-height: 16.71px;
  text-align: left;
}

.accessView {
  background: linear-gradient(256.56deg, #0461fe 0%, #023a98 98.54%);
  width: 350px;
  height: 66px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.DownloadText {
  font-size: 14px;
  font-weight: 500;
  padding: 9px;
}

.appShow {
  display: flex;
  color: black;
  gap: 12px;
  margin-right: 10px;
}

.appName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 32px;
  padding: 9px 16px 9px 16px;
  gap: 6px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  background: #ffffff;
}

.reasonList {
  color: black;
  width: 100%;
  margin: 20px 0px 0px 50px;
}

.reasonHeading {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.32px;
  text-align: left;
}

.reasongroup {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.reasonShow {
  width: 350px;
  height: 56px;
  gap: 0px;
  border-radius: 12px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  line-height: 16.41px;
  padding: 20px;
}

.AccidentVehicleReason {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: #ffffff;
  width: 350px;
}

.reasonButtonArea {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 40px;
}

.ButtonArea {
  width: 163px;
  height: 56px;
  background: #c2d4f5;
  border-radius: 8px;
  color: #0461fe;
  border: none;
}
.ButtonText {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  text-align: center;
}

.ButtonArea1 {
  width: 163px;
  height: 56px;
  background: #0461fe;
  border-radius: 8px;
  border: none;
}

.EmergencyButton {
  background: #0461fe;
  width: 149px;
  height: 39px;
  border: none;
  border-radius: 6px;
  padding: 9px, 16px, 9px, 16px;
  font-weight: 500;
}

.SendPhotoButton {
  background: #c2d4f5;
  color: #0461fe;
  font-weight: 500;
  width: 149px;
  height: 39px;
  border: none;
  border-radius: 6px;
  padding: 9px, 16px, 9px, 16px;
}

.EmergencyArea {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
  height: 32px;
  width: 100%;
  gap: 10px;
}

.customRadio {
  appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid #0070f3;
  position: relative;
  outline: none;
  cursor: pointer;
}

.customRadio:checked::before {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #0070f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -50%);
}
